nav.SideBarNavigation
  position: absolute
  top: 0px
  bottom: 30px
  left: 0px
  z-index: 10
  display: flex
  flex-direction: column
  justify-content: center

  color: #cccccc
  a, a:link, a:visited
    color: #cccccc
    display: block
    padding: 5px
    font-size: 25px
    text-decoration: none
    border-bottom: 2px solid transparent
    &:hover
      color: white
      border-bottom: 2px solid white
      //animation: nudge .2s
    svg
      //vertical-align: middle

@keyframes nudge
  50%
    padding-left: 20px
