
@media screen and (min-width: 768px) {

  body {
    background-color: black;
    overflow: hidden;
  }

  small.copywrite {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    color: white;
    text-align: center;
    z-index: -1;
    font-family: monospace;
    font-size: 11px;
  }

  svg.WobblyGeometrySVG {
    width: 100vw;
    height: 100vh;
  }
}


.stdPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: Helvetica;
  font-weight: 50;
  cursor: zoom-in;
}

.stdPreview h1 {
  font-weight: 50;
}

.stdPreview img {
  flex-shrink: 1;
  max-height: 50%;
}

.WobblyRectLabel {
  font-family: Baskerville;
}


@media screen and (max-width: 767px) {
  body {
    background-color: black;
    color: white;
    height: 1000px;
  }

  svg.WobblyGrid_bg {
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 0px;
    left: 0px;
  }
}
